<form [formGroup]="loginForm">
  <p-card header="Login" [style]="{ width: '360px' }">
    <div clas="field">
      <label for="email">Email</label>
      <input
        type="text"
        pInputText
        formControlName="email"
        class="w-full"
        name="email"
        placeholder="Enter your email"
      />
      <small
        *ngIf="
          (loginForm.controls['email'].invalid &&
            loginForm.controls['email'].dirty) ||
          loginForm.controls['email'].touched
        "
        class="block p-error"
      >
        <div *ngIf="loginForm.controls['email'].errors?.['required']">
          Email is required
        </div>
        <div *ngIf="loginForm.controls['email'].errors?.['email']">
          Email is invalid
        </div>
      </small>
    </div>
    <div clas="field">
      <label for="password">Password</label>
      <input
        type="password"
        pInputText
        formControlName="password"
        class="w-full"
        name="password"
      />
      <small
        *ngIf="
          loginForm.controls['password'].dirty ||
          loginForm.controls['password'].touched
        "
        class="block p-error"
      >
        <div *ngIf="loginForm.controls['password'].errors?.['required']">
          Password is required
        </div>
      </small>
    </div>
    <div>
      <p-button
        label="Login"
        styleClass="w-full"
        [disabled]="loginForm.invalid"
      ></p-button>
    </div>
    <div class="mt-2">Not a member? <a routerLink="/register">register</a></div>
  </p-card>
</form>
